<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title><%- config.title %></title>
  <%- css('layui/css/layui') %>
</head>

<body>
  <div class="layui-header header">
    <div class="layui-main">
      <a href="">fox</a>
      <ul class="layui-nav layui-bg-green" lay-filter="">
        <li class="layui-nav-item"><a href="">最新活动</a></li>
        <li class="layui-nav-item"><a href="">产品</a></li>
        <li class="layui-nav-item"><a href="">大数据</a></li>
        <li class="layui-nav-item"><a href="javascript:;">解决方案</a> </li>
        <li class="layui-nav-item"><a href="">社区</a></li>
      </ul>
    </div>
  </div>
  <!-- 你的HTML代码 -->
  <%- body %>
  <%- js('layui/layui') %>
  <script>
    //一般直接写在一个js文件中
    layui.use(['element', 'form'], function () {
      
    });
  </script>
</body>

</html>