<footer id="footer" class="clearfix">
  <% if (config.footer) { %>
    <div class="footer">
      <%- markdown(config.footer) %>
    </div>
    <br>
  <%}%>
  <% if (config.social) { %>
    <div class="social-wrapper">
      <% (config.social||[]).forEach(function(value){ %>
        <% if (value.url && value.icon) { %>
          <a href="<%= url_for(value.url) %>" class="social <%- value.icon %> flat-btn" target="_blank" rel="external"></a>
        <%}%>
      <%})%>
    </div>
  <%}%>
</footer>

<script>
  (function(){
      var bp = document.createElement('script');
      var curProtocol = window.location.protocol.split(':')[0];
      if (curProtocol === 'https') {
          bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
      }
      else {
          bp.src = 'http://push.zhanzhang.baidu.com/push.js';
      }
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(bp, s);
  })();
  </script>